## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# JSDoc build output
out

instance/**
.DS_Store
package-lock.json
